.chat {
	background-color: #ffffff;
	display: grid;
	grid-template-rows: 65px auto min-content;
	transition: 0.5s;
	overflow-y: scroll;
	border-left: 1px solid #727272;
}
.chatDark {
	background-color: #18191a !important;
	color: #d6d6d6 !important;
	border-left: 1px solid #454545 !important;
}
