.sidebar {
	--BGColor: #611f69;
	--hoverColor: #1364a3;
	--fontColor: white;

	background-color: var(--BGColor);
	transition: 0.5s;
}
.sidebar__workspace {
	color: var(--fontColor);
	height: 64px;
	display: flex;
	align-items: center;
	padding-left: 19px;
	justify-content: space-between;
	border-bottom: 1px solid #727272;
}
.sidebar__workspaceNewMsg {
	width: 36px;
	height: 36px;
	background-color: white;
	color: var(--BGColor);
	/* fill: #2c252c; */
	display: grid;
	place-items: center;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.sidebar__channels {
	border-bottom: 1px solid #727272;
	padding: 10px 0;
}
.sidebar__addChannelBtn {
	cursor: pointer;
}
.sidebar__channel {
	color: var(--fontColor);
	display: grid;
	grid-template-columns: 15% auto;
	height: 33px;
	align-items: center;
	padding-left: 23px;
	cursor: pointer;
}
.sidebar__channel:hover {
	background-color: var(--hoverColor);
}
.sidebar__bottomChannels {
	margin-top: 10px;
	color: var(--fontColor);
}
.sidebar__newBottomChannel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding-left: 19px;
	padding-right: 12px;
}
.sidebar__newBottomChannel > div {
	flex: 1;
	margin-left: 5px;
}
.sidebar__bottomChannel {
	height: 29px;
	display: flex;
	align-items: center;
	padding-left: 34px;
	cursor: pointer;
}
.sidebar__bottomChannel:hover {
	background-color: var(--hoverColor);
}

/* ! Dark mode styles */
.sidebarDark {
	--darkModeBGColor: #242526;
	--darkModeHoverColor: rgb(73, 73, 73);

	background-color: var(--darkModeBGColor) !important;
}
.sidebarDark__workspace {
	border-bottom: 1px solid rgb(145, 145, 145) !important;
}
.sidebarDark__workspaceNewMsg {
	color: var(--darkModeBGColor) !important;
}
.sidebarDark__channel:hover {
	background-color: var(--darkModeHoverColor) !important;
}
.sidebarDark__bottomChannel:hover {
	background-color: var(--darkModeHoverColor) !important;
}
